[Unit]
Description=zcripts vm bootstrapper
Before=systemd-user-sessions.service
Wants=network-online.target zcriptsinit.mount
After=network-online.target zcriptsinit.mount
ConditionPathExists=!%S/%N-first-boot.done

[Service]
Type=oneshot
ExecStart=/zcriptsinit/zcripts --first-boot %H
ExecStartPost=/usr/bin/touch %S/%N-first-boot.done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
