[Unit]
Description=zcripts vm bootstrapper
Before=systemd-user-sessions.service
RequiresMountsFor=/zcriptsinit
Wants=network-online.target
After=network-online.target
ConditionPathExists=!%S/%N-first-boot.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zcripts boot --ignore-missing-host
ExecStartPost=/usr/bin/touch %S/%N-first-boot.done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
